<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class='bg-white'>
        <q-toolbar-title >
          <q-btn size='lg' no-caps flat dense @click="pushToHomepage()">
            <q-icon class='text-primary' right size="2em" name="description" />
            <span class='text-primary'>MyBlog.app</span>
          </q-btn>
        </q-toolbar-title>

        <div>
          <q-btn class='text-primary' flat no-caps> Log in</q-btn>
           <q-btn class='text-primary' flat no-caps> Sign up</q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  data() {
    return {
      loggedIn:false
    };
  },
  methods:{
    pushToHomepage(){
      this.$router.push('/').then(()=>{}).catch(()=>{})
    }
  }
};
</script>
