<template>
  <div class="fullscreen bg-white text-primary text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 25vh">
        404
      </div>

      <div class="text-h3" style="opacity:.4">
        Oops... Nu e nimic aici!
      </div>

      <q-btn
        class="q-mt-xl"
        color='primary'
        text-color="primary"
        unelevated
        outline
        to="/"
        label="Acasa"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
