<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <transition-group
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <div
        v-if='renderedTitle'
        key='title'
          style="font-size: 6vh; font-family: sketch;"
          class="text-center text-primary text-weight-bolder"
        >
          Welcome to the world’s <br />most popular blogging site.
        </div>

        <div
        
        v-if='renderedDesc'
         key='description' style="font-size: 2vh" class="text-center text-primary q-mt-md">
          Looking for a free blog site to help you start sharing your writing
          with the world? <br />
          Whether you just want to share updates with your family and friends or
          you want to start a blog and build a broader audience,
          <br /><span class='text-weight-bolder'>MyBlog.app</span> is your perfect choice!
        </div>
        <div key='join-button' class="flex flex-center q-pt-xl">
          <q-btn 
          v-if='renderedButton'
          unelevated class="text-white bg-accent"
            >Join our community</q-btn
          >
        </div>
      </transition-group>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data(){
    return{
      renderedTitle:false,
      renderedDesc:false,
      renderedButton:false
    }
  },
    created(){
    setTimeout(() => {
      this.renderedTitle=true
    }, 500);
    setTimeout(() => {
      this.renderedDesc=true
    }, 1250);
    setTimeout(() => {
      this.renderedButton=true
    }, 2000);
  },
};
</script>
